@import url(bootstrap-reboot.css);
@import url(bootstrap-grid.css);
@import url(fonts.css);
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


/*Header*/

.header {
    background: url(../img/main_320.png) no-repeat center center;
    color: #ffffff;
}

.header-wrapper {
    width: 303px;
    min-height: 540px;
    margin: 0 auto;
}

.header-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px 0;
}

.header a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.header-main p {
    margin: 0;
}

.header-main p>a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list-item a {
    padding: 10px 18px;
    border: 2px solid transparent;
    border-radius: 25px;
    font-weight: 700;
}

.nav-list-item a:hover {
    border-color: #ffffff;
}

.header-section {
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
}

.header-section-title {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    word-spacing: -1px;
}

.header-section-desc {
    width: 220px;
    margin: 0 auto;
    padding: 13px 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.header-section-btn {
    background: #ff4e50;
    border-radius: 18px;
}

section .btn {
    width: 273px;
    margin: 0 auto;
    padding: 11px 0;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ff4e50;
    transition: color 0.3s linear;
    transition: background 0.2s linear;
}

.header-section-btn:hover {
    color: #ff4e50;
    background: #ffffff;
}


/*Main*/

.main-section {
    width: 303px;
    margin: 0 auto;
    padding: 70px 0 60px 0;
}

.main-section-title {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.partner-list-item {
    margin: 0 auto;
    padding: 0 27px;
}

.partner-list-item a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.partner-list-item a>img {
    display: block;
    margin: 0 auto;
}

.partner-list-item p {
    margin: 0;
}

.bradley,
.heather,
.lucas,
.hunter {
    position: relative;
}

.bradley::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../img/icon1.png) no-repeat center center;
    background-color: #ff4e50;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 54px;
    bottom: 100px;
}

.heather::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../img/icon2.png) no-repeat center center;
    background-color: #1cd7ad;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 54px;
    bottom: 100px;
}

.lucas::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../img/icon3.png) no-repeat center center;
    background-color: #ffa507;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 54px;
    bottom: 140px;
}

.hunter::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../img/icon4.png) no-repeat center center;
    background-color: #4e73db;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 54px;
    bottom: 100px;
}

.partner-name {
    color: #333333;
    font-weight: 700;
    padding: 18px 0;
}

.partner-desc {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.btn-wrapper {
    padding: 27px 0 0 0;
}

.partner-btn {
    display: block;
    border-radius: 20px;
    background: #ffffff;
    color: #ff4e50;
}

.partner-btn:hover {
    color: #ffffff;
    background: #ff4e50;
}


/*Media*/

@media (min-width: 576px) {
    .header {
        background: url(../img/main_768.png) no-repeat center center;
        background-size: cover;
    }
    .header-wrapper {
        width: 530px;
        height: 700px;
    }
    .main-section {
        width: 530px;
        margin: 0 auto;
        padding: 70px 0 40px 0;
    }
    .partner-list-item {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .main-section .row>[class*="col-"]:not(:last-child) {
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) {
    .header {
        background: url(../img/main_768.png) no-repeat center center;
    }
    .header-wrapper {
        height: 700px;
    }
    .header-section {
        width: 532px;
        padding: 140px 0 0 0;
    }
    .header-main {
        flex-direction: row;
        align-items: center;
        padding: 35px 0 5px;
        height: auto;
    }
    .header-section-title {
        font-size: 52px;
    }
    .header-section-desc {
        width: auto;
        font-size: 24px;
        padding: 18px 0 23px;
    }
    .header-section .header-section-btn {
        width: 225px;
    }
    .main-section {
        width: 532px;
        margin: 0 auto;
        padding: 70px 0 40px 0;
    }
    .main-section-title {
        margin-bottom: 20px;
    }
    .partner-list-item {
        padding: 0 7px;
    }
    .btn-wrapper {
        padding: 35px 0 0 0;
    }
    .main-content .main-section .partner-btn {
        width: 192px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-section .row>[class*="col-"]:not(:nth-last-child(-n+2)) {
        margin-bottom: 55px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        background: url(../img/main_1440.png) no-repeat center center;
        background-size: cover;
    }
    .header-wrapper {
        width: 940px;
        margin: 0 auto;
    }
    .main-section {
        width: 940px;
        padding: 70px 0 70px 0;
    }
    .main-content>.main-section .row>[class*="col-"]:not(:nth-last-child(-n+1)) {
        margin-bottom: 55px;
    }
    .partner-list-item {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .header {
        background: url(../img/main_1440.png) no-repeat center center;
        background-size: cover;
    }
    .header-wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .main-section {
        width: 1000px;
        padding: 70px 0 70px 0;
    }
    .main-content>.main-section .row>[class*="col-"] {
        margin-bottom: 0px;
    }
    .partner-list-item {
        padding: 0 7px;
    }
}