.header {
  width: 100%;
  min-height: 1000px;
  background: linear-gradient( 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/bg_header.jpg) no-repeat center center;
  background-size: cover;
  color: $header-color;  
}
