.nav-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 617px;
  height: 17px;
  
  .nav-list__item {
    &:not(:nth-last-child(-n+2))>.nav-list__link:hover::after {
      @include pseudo($display: block);
      width: 100%;
      height: 3px;
      background: $header-hover-color;
      margin: 5px 0 0 0;
      transition-property: background;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }

    .nav-list__link {
      @extend %link;
      color: $header-color;
      font-family: $secondary-font-stack;
      font-size: $secondary-font-size;
      text-transform: uppercase;
      transition: color 0.2s linear;
  
      &:hover {
        color: $header-hover-color;
      }
    }
  }
}
