body {
    font-family: 'Roboto', sans-serif;
    color: #555252;
}

.wrapper {
    margin: 0 auto;
}

.content-wrapper {
    width: 1110px;
    margin: 0 auto;
}

main {
    height: auto;
    overflow: hidden;
}

.header {
    height: auto;
    overflow: hidden;
}

.main-logo {
    display: inline-block;
    float: left;
}

.main-logo a {
    display: block;
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-logo span {
    display: inline-block;
    color: #1abc9c;
    font-weight: 900;
}

.nav-main {
    display: inline-block;
    float: right;
    width: 45.6%;
    height: 100%;
    margin: 21px 0;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.menu-item {
    display: inline-block;
    margin: 0 17px;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item a:hover {
    color: #1abc9c;
}

.container-title {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.container-title:after {
    display: block;
    content: "";
    background-color: #1abc9c;
    width: 14.77%;
    height: 7px;
    margin: 32px auto 0;
}

/*Products*/

.content-container {
    height: auto;
    overflow: hidden;
    padding: 40px 0 0 0;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 50px 0 0 0;
    height: auto;
    overflow: hidden;
}

.products-list-item {
    float: left;
    font-size: 0;
    width: 22.97%;
    height: auto;
    overflow: hidden;
    margin: 0 30px 30px 0;
}

.products-list-item a {
    display: block;
    width: 256px;
    height: 322px;
    background: #323232;
}

.products-list-item:nth-child(4n+4) {
    margin: 0 0 30px 0;
}

.product-name,
.product-price {
    display: block;
    height: 40px;
    float: left;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}

.product-name {
    width: 188px;
    padding: 0 0 0 13px;
    text-transform: uppercase;
}

.link-item:hover {
    background: #1abc9c;
}

.product-price {
    width: 55px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.44);
}

/*News*/

.news-list {
    padding: 40px 0;
    list-style: none;
    font-size: 0;
}

.news-list-item {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0 0 40px 0;
    vertical-align: top;
}

.news-list-item:last-child {
    margin: 0;
}

.news-list-item h3 {
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -1.6px;
}

.news-list-item p {
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -1.1px;
}

.news-pic {
    display: block;
    background: #959595;
    width: 350px;
    height: 262px;
}

.news-button {
    display: block;
    width: 159px;
    height: 51px;
    background: #1abc9c;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 51px;
    letter-spacing: -1.6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}

.news-button:hover {
    background: #555252;
}