$main-font-stack: 'Roboto',
sans-serif;
$secondary-font-stack: 'Montserrat',
sans-serif;
$tertiary-font-stack: 'Kaushan Script',
cursive;
$header-color: #ffffff;
$header-hover-color: #fce38a;
$section-primary-color: #333333;
$section-secondary-color: #999999;
$footer-primary-color: #95e1d3;
$footer-form-color: #cccccc;
$footer-border-top-color: #e5e5e5;
$footer-border-color: #e7e7e7;
$primary-accent-color: #f38181;
$social-buttons-border-color: #f9bd87;
$primary-font-size: 15px;
$secondary-font-size: 14px;
