body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 1110px;
    margin: 0 auto;
    padding: 30px 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.main-content {
    min-height: 100vh;
}

/*Header*/

.main-logo {
    display: inline-block;
    float: left;
    margin: 0;
}

.main-logo a {
    display: block;
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-logo span {
    display: inline-block;
    color: #1abc9c;
    font-weight: 900;
}

.main-nav {
    display: inline-block;
    float: right;
    height: 34px;
    line-height: 34px;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    float: left;
    margin: 0 30px 0 0;
}

.menu-item:last-child {
    margin: 0;
}

.menu-item a {
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item a:hover {
    color: #1abc9c;
}

/*Slider*/

.slider {
    position: relative;
    overflow: hidden;
    height: 600px;
}

.slider-container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.slider-container>li {
    width: 100%;
    height: 600px;
    position: absolute;
}

.slider-item-first {
    background: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)), url(../img/slide4.jpg) no-repeat center center;
    background-size: cover;
}

.slide-content {
    width: 744px;
    height: 600px;
    margin: 0 auto;
    padding: 207px 0 0 0;
}

.slide-content a {
    display: block;
    text-decoration: none;
}

.slide-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -1px;
}

.slide-title:hover {
    color: #2075ff;
}

.title-desc {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
}

.slider-owl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-owl a {
    display: block;
    padding: 31px 41px;
}

.prev-owl,
.next-owl {
    display: inline-block;
    position: absolute;
    width: 104px;
    height: 104px;
    background: rgba(78, 198, 171, 0.65);
}

.prev-owl {
    top: 37.8%;
    left: 15.3%;
}

.next-owl {
    top: 37.8%;
    right: 15.3%;
}

/*New Collection*/

.content-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    background: #e9f0fd;
}

.container-title {
    width: 401px;
    color: #515151;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
}

.container-title::after {
    display: block;
    content: "";
    width: 165px;
    height: 10px;
    margin: 30px auto 0;
    background: #1abc9c;
}

.product-container {
    width: 1110px;
    margin: 0 auto;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 80px 0 0 0;
    height: auto;
    overflow: hidden;
}

.products-list-item {
    float: left;
    font-size: 0;
    width: 22.97%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.products-list-item img {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
}

.products-list>li:not(:last-child) {
    margin-right: 30px;
}

.products-list-item a {
    display: block;
    width: 255px;
    height: 322px;
}

.product-name,
.product-price {
    display: block;
    height: 40px;
    float: left;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}

.product-name {
    width: 188px;
    padding: 0 0 0 13px;
    text-transform: uppercase;
    background: #323232;
}

.products-list-item:hover .product-name {
    background: #1abc9c;
}

.products-list-item:hover .product-price {
    background-color: rgba(26, 188, 156, 0.44);
}

.products-list-item:hover .quick-button {
    opacity: 1;
}

.products-list-item:hover .link-item>img {
    opacity: 0.44;
}

.product-price {
    width: 54px;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.44);
}

.quick-button {
    width: 235px;
    height: 261px;
    background-color: rgba(115, 115, 115, 0.55);
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}

.quick-list-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-buttons-item button {
    float: left;
    border: 1px solid #ffffff;
    padding: 0;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
}

.add-to-wishlist,
.add-to-compare,
.add-to-wait:not(:last-child) {
    margin: 0 9px 8px 0;
}

.add-to-wishlist,
.add-to-compare,
.add-to-wait {
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
}

li .add-to-wishlist {
    background-image: url(../img/wishlist.png);
}

li .add-to-compare {
    background-image: url(../img/compare.png);
}

li .add-to-wait {
    background-image: url(../img/wait.png);
}

li .add-to-cart {
    width: 162px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #323232;
}

.add-to-cart>span {
    display: inline-block;
    float: left;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.add-to-cart>span::before {
    display: inline-block;
    float: left;
    content: "";
    width: 28px;
    height: 26px;
    padding: 10px 0 10px 20px;
    background-image: url(../img/add_to_cart.png);
    background-repeat: no-repeat;
    background-position: center;
}

.quick-list-buttons li button:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Footer*/

.footer {
    height: 90px;
    line-height: 90px;
    background: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer p {
    margin: 0;
    color: #fefefe;
    text-align: center;
}

.footer a {
    color: #46bfa9;
    text-decoration: none;
}